<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/esicertif3.png" width="100">
        </div>

        <div class="col-sm-8" *ngFor="let p of connexionnew">
            <p class="entete">
                <mat-icon class="iconentete">person</mat-icon>{{ p.nom }} {{ p.prenom }}
                <a (click)="goToPage('acceuil')">
                    <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                </a>
            </p>

        </div>

    </div>

    <div class="mb-3">
        <nav>
            <ul>
                <li>
                    <a routerLink="/homeadmin">
                        <mat-icon class="icons">home</mat-icon>
                    </a>
                </li>
                <li>
                    <a routerLink="/formationadmin">
                        <mat-icon class="icons">description</mat-icon>
                    </a>
                </li>
                <li>
                    <a routerLink="/formateurcandidatadmin">
                        <mat-icon class="active">person</mat-icon>
                    </a>
                </li>
                <li>
                    <a routerLink="/certificatadmin">
                        <mat-icon class="icons">school</mat-icon>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <br><br>

    <div>
        <button (click)="createcandidat()" class="iconadd" mat-mini-fab color="accent" aria-label="Example icon button with a add icon">
          <mat-icon >add</mat-icon>
        </button>

    </div>
    <br>
    <div class="row">
        <div *ngFor=" let p of candidat" class="col-sm-4">
            <div class="card1 p-1 mb-2">
                <div class="row">
                    <div class="col-sm-9">
                        <h5 class="small">{{p.nom}} {{p.prenom}}
                        </h5>
                    </div>
                    <div class="go-corner" href="#">
                        <div class="go-arrow">
                            →
                        </div>
                    </div>
                    <div class=" text-end ">

                        <button (click)="deletecandidat(p)" class="taillebutton" mat-mini-fab color="warn" aria-label="Example icon button with a remove icon">
                          <mat-icon class="tailleicon">remove </mat-icon>
                        </button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>