<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <div *ngFor="let p of connexionnew">
                <p class="entete">
                    {{ p.nom }}
                    <a (click)="goToPage('acceuil')">
                        <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="container  topBotomBordersIn">
        <a routerLink="/homeadmin">ACCEUIL</a>
        <a routerLink="/formationadmin">FORMATIONS</a>
        <a routerLink="/formateurcandidatadmin">FORMATEURS/CANDIDATS</a>
        <a routerLink="/certificatadmin">CERTIFICATIONS</a>
        <a routerLink="/statadmin">VUE D'ENSEMBLE</a>
    </div>
    <br>
    <div>
        <button (click)="createcandidat()" class="iconadd" mat-mini-fab color="primary" aria-label="Example icon button with a add icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<div id="container" *ngFor=" let p of candidat">
    <div class="product-image image">

        <img src="https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=761&q=80" alt="">
        <div class="info">
            <h5 style="text-align: center;"> Description</h5>
            <ul>
                <li><strong style="font-size: small; ">Nombre de formation : </strong>{{nbreformationparcandidat}} </li>
                <li><strong style="font-size: small; ">Nombre de certificat : </strong>{{nbrecertificatparcandidat}}
                </li>
            </ul>
        </div>
    </div>
    <div class="product-details">
        <h1><button (click)="deletecandidat(p)" class=" btnrouge espaceright " mat-mini-fab aria-label="Example icon button with a delete icon">
                <mat-icon>delete </mat-icon>
            </button>
            <span style="color:rgb(1, 1, 179);text-transform: uppercase;font-size: medium;text-align: center; ">{{p.nom}}</span><span style="font-size: medium;color:rgb(1, 1, 179);">
                {{p.prenom}}</span>
        </h1>
        <div>
            <mat-icon style="font-size: 10px;color:rgb(1, 1, 179);">
                email
            </mat-icon>
            {{p.email}}
        </div>
        <div>
            <mat-icon style="font-size: 10px;color:rgb(1, 1, 179);">call</mat-icon>
            {{p.tele}}
        </div>

        <div class="control">
            <button class="btn ">
                <span class="buy ">RECOMMANDER</span>
            </button>
            <button class="btn espaceleft">
                <span class="buy">FEED BACK</span>
            </button>
        </div>
    </div>
</div>