<div class="imglogo">
    <img src="/assets/esicertif3.png">
</div>
<div class="container">
    <div class="row">
        <div class="mb-3">
            <nav class="foxnav">
                <ul>
                    <li>
                        <a href="#home">
                            <mat-icon>home</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#formation">
                            <mat-icon>description</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#certificat">
                            <mat-icon>school</mat-icon>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <img alt="candidat sur une chaise" class="imgcandidat" src="assets\candidatg.jpg" />
    </div>
    <div class="col">
        <div class="text-center margin50">
            <table class="table table-hover ">
                <thead>
                    <tr class="table-primary ">
                        <th scope=" col">Intitulée de formation en cours </th>
                            <th scope="col">Nom de formateur</th>
                                <th scope="col">Date de formation</th>
                                    <th scope="col">Etat</th>
                                        <th scope="col">Certificat</th>
                                            </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Microsft azure</th>
                            <td>Mr ALAMOU</td>
                            <td>06-02-2020</td>
                            <td>Validé</td>
                            <td>
                                <mat-icon class="green-icon">insert_drive_file</mat-icon>
                            </td>
                    </tr>
                    <tr class="table-primary">
                        <th scope="row">Power BI</th>
                            <td>Mr BANKA</td>
                            <td>06-05-2021</td>
                            <td>
                                <button tabindex="0" class="btn btn-lg" role="button" data-toggle="popover" data-trigger="focus" title=" Popover title " data-content="En attente de fiche d'evaluation">
                                    <mat-icon class="redicon ">notification_important</mat-icon>
                                </button>
                            </td>
                            <td>
                                <mat-icon class="white-icon ">insert_drive_file</mat-icon>
                            </td>
                            </tr>
                </tbody>
                </table>
    </div>
</div>
<div class="col "></div>
</div>
<script src="scri.js" charset="utf">
</script>-8