<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <div *ngFor="let p of connexionnew">
                <p class="entete">
                    {{ p.nom }}
                    <a (click)="goToPage('acceuil')">
                        <mat-icon class="iconentete red-icon">power_settings_new</mat-icon>
                    </a>
                </p>
            </div><br><br>
        </div>
    </div>
    <div class="container  topBotomBordersIn">
        <a routerLink="/homecandidat">ACCEUIL</a>
        <a routerLink="/pageevalcandidat">PAGE D'EVALUATION </a>
        <a routerLink="/certificatcandidat">CERTIFICATIONS</a>

    </div>

    <br><br><br><br>

    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th style="text-transform: uppercase; letter-spacing: 1px;">Intitulée de formation</th>
                    <th style="text-transform: uppercase; letter-spacing: 1px;">NOM DE FORMATEUR</th>
                    <th style="text-transform: uppercase; letter-spacing: 1px;">DATE DE DEBUT DE FORMATION</th>
                    <th style="text-transform: uppercase; letter-spacing: 1px;">Etat</th>
                    <th style="text-transform: uppercase; letter-spacing: 1px;">Certificat</th>
                </tr>
            </thead>
            <tbody *ngFor="let p of formation">
                <tr>
                    <td style="text-transform: uppercase;">{{ p.nom }}</td>
                    <td style="text-transform: uppercase;">{{p.formateur.nom}}</td>
                    <td>{{p.date_debut}}</td>
                    <td>
                        <div *ngIf="p.progress == true">
                            Validé
                        </div>
                        <div *ngIf="p.valider == false">
                            <mat-icon class="red-icon" mat-raised-button #tooltip="matTooltip" matTooltip="Fomation est en cours" aria-label="Button that shows a red tooltip">
                                notification_important
                            </mat-icon>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="p.valider == true"  class="form-check form-switch ">
                            <mat-icon class="greenicon" type="button" matTooltip="Télecharger votre certificat" (click)="opendialog(p)">picture_as_pdf
                            </mat-icon>
                        </div>
                        <div *ngIf="p.valider == false"  class="form-check form-switch ">
                            <mat-icon class="greyicon">picture_as_pdf
                            </mat-icon>
                        </div>
                    </td>
                </tr>
                <tbody>
        </table>
    </div>
</div>