.mat-radio-button {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.mat-radio-button {
    margin: 5px;
}

.mat-icon {
    color: rgb(55, 0, 255);
    font-size: 15px;
}

.numquestion {
    color: rgb(55, 0, 255);
    text-transform: uppercase;
    font-size: 14px;
}

.question {
    color: rgb(8, 8, 8);
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bolder;
}

.espaceentrebuttons {
    margin: 14px;
}

.reponsechoisie {
    color: blue;
    text-transform: uppercase;
    font-size: 14px;
}

.center {
    margin: 0;
    position: absolute;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center2 {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center3 {
    margin: 0;
    position: absolute;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.entete {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    text-decoration-color: rgb(0, 0253);
    -moz-text-decoration-color: rgb(0, 0253);
    text-decoration-style: solid;
    -moz-text-decoration-style: solid;
    color: rgb(0, 0, 255);
    text-shadow: 0px 0px 1px blue;
}

.textelabel {
    color: rgb(146, 146, 146);
    font-size: small;
}


/*star rating*/

ngb-rating {
    color: #FFC107;
    font-size: 45px;
}