<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <div *ngFor="let p of connexionnew">
            <p class="entete">
                {{ p.nom }}
                <a (click)="goToPage('acceuil')">
                    <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                </a>
            </p>
        </div><br><br>
    </div>
</div>
<div class="container  topBotomBordersIn">
    <a routerLink="/homeformateur">ACCEUIL</a>
    <a routerLink="/formationformateur">FORMATIONS</a>
    <a routerLink="/getacceptformateur">GETACCEPT</a>
</div>



<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <div class="text-center margin50">
            <mat-form-field class="px-16" style="width: 30%">
                <input matInput #filter placeholder="Search..."  [(ngModel)]="data" id="listSearch" autocomplete="off" style="width: 100%">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th style="text-transform: uppercase; letter-spacing: 1px;">Nom et Prenom DES CANDIDATS</th>
                                <th style="text-transform: uppercase; letter-spacing: 1px;">STATUS</th>
                                <th style="text-transform: uppercase; letter-spacing: 1px;">DOWNLOAD</th>
                            </tr>
                        </thead>
                        <ng-container *ngFor="let g of getaccept">
                            <tbody *ngFor="let b of g.recipients | filter: data">
                                <tr *ngFor="let i of idoucument"
                                    style="color: rgb(126, 212, 118); font-weight: bold;">
                                    <th  *ngIf="g.id == i.getaccept" scope="row">{{ b.first_name }} {{b.last_name}}</th>
                                    <td  *ngIf="g.id == i.getaccept">{{g.status}}</td>
                                    <td  *ngIf="g.id == i.getaccept"><button mat-raised-button color="primary" (click)="download(g.id)">Télécharger</button></td>
                            </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
        </div>
    </div>
    <div class="col"></div>
</div>