<div class="imglogo">
    <img src="/assets/esicertif3.png">
</div>
<div class="container">
    <div class="row">
        <div class="mb-3">
            <nav class="foxnav">
                <ul>
                    <li>
                        <a href="#home">
                            <mat-icon>home</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#news">
                            <mat-icon>description</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <mat-icon>school</mat-icon>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <img alt="candidat sur une chaise" class="imgcandidat" src="assets\candidatg.jpg" />
    </div>
    <div class="col">
        <div class="text-center margin50">
            <table class="table table-hover ">
                <thead>
                    <tr class="table-primary ">
                        <th scope="col">Intitulée de formation en cours </th>
                            <th scope="col">Nom de formateur</th>
                                <th scope="col">Date de formation</th>
                                    <th scope="col">Progression</th>
                                        <th scope="col">Validation</th>
                                            </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Microsft azure</th>
                            <td>Mr ALAMOU</td>
                            <td>06-02-2020</td>
                            <td>
                                <div class="cols-sm-4"></div>
    <div class="col-sm-4">
        <mat-icon class="green-icon">done</mat-icon>
</div>
<div class="cols-sm-4"></div>
    </td>
    <td>
        <div class="form-check form-switch">
            <input class="form-check-input"  type="checkbox"  id="flexSwitchCheckCheckedDisabled"  checked disabled>
                <label class="form-check-label"  for="flexSwitchCheckCheckedDisabled"></label>
                    </div>
    </td>
    </tr>
    <tr class="table-primary">
        <th scope="row">Power BI</th>
            <td>Mr BANKA</td>
            <td>06-05-2021</td>
            <td>
                <div class="cols-sm-4"></div>
                    <div class="col-sm-4">
                        <mat-icon class="white-icon">incomplete_circle</mat-icon>
                        </div>
                        <div class="cols-sm-4"></div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input"  type="checkbox"  id="flexSwitchCheckDisabled"  disabled>
                        <label class="form-check-label"  for="flexSwitchCheckDisabled"></label>
                            </div>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            <div class="col"></div>
            </div>