<div class="row">
    <div class="col">
        <div class="imglogo">
            <img src="/assets/esicertif3.png">
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">
    </div>
    <div class="col">
        <p>Mr.Lamsaouri
            <mat-icon class="icon">power_settings_new</mat-icon>
        </p>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="mb-3">
            <nav class="foxnav">
                <ul>
                    <li>
                        <a routerLink="/homecandidat">
                            <mat-icon class="active">home</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/formationcandidat">
                            <mat-icon>description</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/certificatcandidat">
                            <mat-icon>school</mat-icon>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <img alt="candidat sur une chaise" class="imgcandidat" src="assets\candidatg.jpg" />
    </div>
    <div class="col">
        <img alt="candidat sur une chaise" class="logofiche" style="width: 15%;" (click)="open(mymodal)" src="assets\fiche d'evaluation rg.jpg" />
        <ng-template #mymodal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                This is example from ItSolutionStuff.com
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
        </ng-template>
        <div class="text-center margin50">
            <table class="table table-hover ">
                <thead style="box-shadow: 0px -2px 5px #888;">
                    <tr class="table-primary ">
                        <th scope=" col" style="padding: 30px; background-color: rgb(203, 236, 200); color: rgb(45, 155, 35)">
                            Intitulée de formation en cours </th>
                            <th scope="col" style="padding: 30px; background-color: rgb(255, 255, 255); color: rgb(45, 155, 35)">
                                Nom de formateur</th>
                                <th scope="col" style="padding: 30px; background-color: rgb(203, 236, 200); color: rgb(45, 155, 35)">
                                    Date de formation</th>
                                    <th scope="col" style="padding: 30px; background-color: rgb(255, 255, 255); color: rgb(45, 155, 35)">
                                        Progression</th>
                                        <th scope="col" style="padding: 30px; background-color: rgb(203, 236, 200); color: rgb(45, 155, 35)">
                                            Validation</th>
                                            </tr>
                </thead>
                <tbody>
                    <tr style="color: rgb(126, 212, 118); font-weight: bold;">
                        <th scope="row">Microsft azure</th>
                            <td>Mr ALAMOU</td>
                            <td>06-02-2020</td>
                            <td>
                                <div class="cols-sm-4"></div>
    <div class="col-sm-4">
        <mat-icon class="green-icon">check_circle</mat-icon>
</div>
<div class="cols-sm-4"></div>
    </td>
    <td>
        <div class="form-check form-switch">
            <input class="form-check-input"  type="checkbox"  id="flexSwitchCheckCheckedDisabled"  checked disabled>
                <label class="form-check-label"  for="flexSwitchCheckCheckedDisabled"></label>
                    </div>
    </td>
    </tr>
    <tr style="color: rgb(126, 212, 118); font-weight: bold;">
        <th scope="row">Power BI</th>
            <td>Mr BANKA</td>
            <td>06-05-2021</td>
            <td>
                <div class="cols-sm-4"></div>
                    <div class="col-sm-4">
                        <mat-icon class="white-icon">incomplete_circle</mat-icon>
                        </div>
                        <div class="cols-sm-4"></div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input"  type="checkbox"  id="flexSwitchCheckDisabled"  disabled>
                        <label class="form-check-label"  for="flexSwitchCheckDisabled"></label>
                            </div>
            </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    <div class="col"></div>
    </div>