<div class="row">
    <div class="col">
        <div class="imglogo">
            <img src="/assets/esicertif3.png">
        </div>
    </div>
    <div class="col">

    </div>
    <div class="col">
    </div>
    <div *ngFor="let p of connexionnew" class="col">
        <p>{{ p.nom }} {{ p.prenom }}
            <a (click)="goToPage('acceuil')">
                <mat-icon class="icon">power_settings_new</mat-icon>
            </a>
        </p>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="mb-3">
            <nav class="foxnav">
                <ul>
                    <li>
                        <a routerLink="/homeformateur">
                            <mat-icon class="active">home</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/formationformateur">
                            <mat-icon>description</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/getacceptformateur">
                            <mat-icon>task_alt</mat-icon>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <img alt="candidat sur une chaise" class="imgcandidat" src="assets\candidatg.jpg" />
    </div>
    <div class="col">
        <div class="text-center margin50">
            <cdk-accordion class="example-accordion">
                <cdk-accordion-item
                *ngFor="let p of formation"
                  #accordionItem="cdkAccordionItem"
                  class="example-accordion-item"
                  role="button"
                  tabindex="0"
                  [attr.id]="'accordion-header-'"
                  [attr.aria-expanded]="accordionItem.expanded"
                  [attr.aria-controls]="'accordion-body-'">
                  <div class="example-accordion-item-header"   (click)="accordionItem.toggle()">
                    <mat-icon class="presence" (click)="updateformation(p);openDialog()" >edit</mat-icon> {{ p.nom }}
                    <span class="example-accordion-item-description">
                      Click pour {{ accordionItem.expanded ? 'close' : 'open' }}
                    </span>
                  </div>
                  <div *ngFor="let b of p.candidat"
                    class="example-accordion-item-body"
                    role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'"
                    [attr.id]="'accordion-body-'" 
                    [attr.aria-labelledby]="'accordion-header-' ">
                    {{ b.nom }} {{ b.prenom }} <a   (click)="fichepresence(b);nomformation(p)" ><mat-icon class="presence"
                        mat-raised-right
                        matTooltip="pour remplir la fiche de presence click sur icone"
                        matTooltipPosition= right
                        matTooltipClass="example-tooltip-red"
                        aria-label="Button that shows a red tooltip">pending_actions</mat-icon></a>
                  </div>
                </cdk-accordion-item>
              </cdk-accordion>
    </div>
</div>
<div class="col"></div>
</div>