<!--<div class="container">
    <div class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form #logForm="ngForm" (ngSubmit)="connexion(logForm.value)">
                <div class="mb-3">
                    <mat-form-field floatLabel="auto" appearance="outline" color="warn">
                        <mat-label>E-mail</mat-label>
                        <input matInput name="email" ngModel="">
                        <button type="button" mat-icon-button matSuffix required>
                            <mat-icon>email</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto" appearance="outline" color="warn">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput name="mdp" ngModel="">
                        <button type="button" mat-icon-button matSuffix required>
                            <mat-icon>lock</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <a class="txt1" href="#">
                    {{ msg }}
                </a>

                <button type="submit" class="btn btn-success">
                    connexion
                </button>
            </form>
        </div>

    </div>


</div> -->
<div class="container mt-4 ma">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                    <label for="tab-1" class="tab">Se connecter</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">S'inscrire</label>
                    <div class="login-space">
                        <div class="login">
                            <div class="group"> <label for="user" class="label">nom d'utilisateur</label> <input id="user" type="text" class="input" placeholder="Enterez votre nom d'utilisateur"> </div>
                            <div class="group"> <label for="pass" class="label">Mot de passe</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Enterez votre mot de passe"> </div>
                            <!--<div class="group">
                                <input id="check" type="checkbox" class="check" checked>
                                <label for="check"><span class="icon"></span> Keep me Signed in</label>
                            </div> -->


                            <div class="group"> <input type="submit" class="button" value="Connexion"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <a href="#">Mot de passe oublié?</a> </div>
                        </div>
                        <div class="sign-up-form">
                            <div class="group"> <label for="user" class="label">Nom d'utilisateur</label> <input id="user" type="text" class="input" placeholder="Entrez votre nom d'utilisateur"> </div>
                            <div class="group"> <label for="pass" class="label">Mot de passe</label> <input id="pass" type="password" class="input" data-type="password" placeholder="Entrez votre mot de passe"> </div>
                            <div class="group"> <label for="pass" class="label">Confirmation de mot de passe </label> <input id="pass" type="password" class="input" data-type="password" placeholder="confirmez votre mot de passe"> </div>
                            <div class="group"> <label for="pass" class="label">Addresse Email </label> <input id="pass" type="text" class="input" placeholder="Enterez votre adresse mail"> </div>
                            <div class="group"> <input type="submit" class="button" value="Connexion"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <label for="tab-1">Déjà Membere?</label> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>