<div class="imglogo">
    <img src="/assets/esicertif3.png">
</div>



<div class="container">

    <div class="row text-center">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form #logForm="ngForm" (ngSubmit)="connexion(logForm.value)">
                <div class="mb-3 margin50">
                    <mat-form-field floatLabel="auto" appearance="outline" color="warn">
                        <mat-label>Email</mat-label>
                        <input matInput>
                        <button type="button" mat-icon-button matSuffix required id="fname" name="email" ngModel="">
                            <mat-icon>person</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto" appearance="outline" color="warn">
                        <mat-label>Password</mat-label>
                        <input matInput>
                        <button type="button" mat-icon-button matSuffix id="lname" name="mdp" ngModel="" required>
                            <mat-icon>lock</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <a class="txt1" href="#">
                    {{ msg }}
                </a>

                <button type="submit" class="login100-form-btn">
                    connexion
                </button>
            </form>
        </div>

    </div>
</div>