               /*  input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-color: #4adb40;
        border-radius: 18px !important;
        box-sizing: border-box;
        text-align: center;
    }
    
    input[type=password] {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-color: #4adb40;
        border-radius: 18px !important;
        box-sizing: border-box;
        text-align: center;
    }
    
    button[type=submit] {
        background-color: #35e022;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 18px !important;
        cursor: pointer;
    }
    
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    
    .example-full-width {
        width: 100%;
    }
    
    .margin50 {
        margin-top: 200px;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input.placeholder {
        text-align: center;
    }
    
    div {
        border-radius: 5px;
        padding: 20px;
    }
    
    .imglogo {
        padding: 10px;
        position: absolute;
        left: 0;
        top: -25px;
    }
    
    .mat-icon {
        font-size: 20px;
        fill: white;
        color: gray;
    }
    
    .img1 {
        position: absolute;
        left: 1361px;
        top: -20px;
    }
    
    @media screen and (max-width: 768px) {
        .navbar a {
            float: none;
            display: block;
        }
    }
    
    .mat-progress-bar {
        color: #45a049;
    }*/
               /**/
               
               body {
                   margin: 0;
                   color: hsl(231, 14%, 48%);
                   background: #030101;
                   font: 600 16px/18px 'Open Sans', sans-serif
               }
               
               .login-box {
                   width: 100%;
                   margin: auto;
                   max-width: 515px;
                   min-height: 650px;
                   position: relative;
                   background: url(https://pixabay.com/fr/illustrations/web-banni%c3%a8re-r%c3%a9sum%c3%a9-internet-1012467/) no-repeat center;
                   box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
               }
               
               .login-snip {
                   width: 100%;
                   height: 100%;
                   position: absolute;
                   padding: 90px 70px 50px 70px;
                   /*background: rgba(0, 77, 77, .9)*/
               }
               
               .login-snip .login,
               .login-snip .sign-up-form {
                   top: 0;
                   left: 0;
                   right: 0;
                   bottom: 0;
                   position: absolute;
                   transform: rotateY(180deg);
                   backface-visibility: hidden;
                   transition: all .4s linear
               }
               
               .login-snip .sign-in,
               .login-snip .sign-up,
               .login-space .group .check {
                   display: none
               }
               
               .login-snip .tab,
               .login-space .group .label,
               .login-space .group .button {
                   text-transform: uppercase
               }
               
               .login-snip .tab {
                   font-size: 22px;
                   margin-right: 15px;
                   padding-bottom: 5px;
                   margin: 0 15px 10px 0;
                   display: inline-block;
                   border-bottom: 2px solid transparent
               }
               /*l'ecriture de page selectionnee*/
               
               .login-snip .sign-in:checked+.tab,
               .login-snip .sign-up:checked+.tab {
                   color: #1162ee85;
                   border-color: #1162ee6b
               }
               
               .login-space {
                   min-height: 345px;
                   position: relative;
                   perspective: 1000px;
                   transform-style: preserve-3d
               }
               
               .login-space .group {
                   margin-bottom: 15px
               }
               /*lecriture de texte dans le bouton*/
               
               .login-space .group .label,
               .login-space .group .input,
               .login-space .group .button {
                   width: 100%;
                   color: #fff;
                   display: block
               }
               
               .login-space .group .input,
               .login-space .group .button {
                   border: none;
                   padding: 15px 20px;
                   border-radius: 25px;
                   background: rgba(187, 187, 187, 0.1)
               }
               
               .login-space .group input[data-type="password"] {
                   text-security: circle;
                   -webkit-text-security: circle
               }
               /*l'ecriture de label*/
               
               .login-space .group .label {
                   color: rgb(170, 170, 170);
                   font-size: 12px
               }
               
               .login-space .group .button {
                   background: #1161ee
               }
               
               .login-space .group label .icon {
                   width: 15px;
                   height: 15px;
                   border-radius: 2px;
                   position: relative;
                   display: inline-block;
                   background: rgba(255, 255, 255, .1)
               }
               
               .login-space .group label .icon:before,
               .login-space .group label .icon:after {
                   content: '';
                   width: 10px;
                   height: 2px;
                   background: #fff;
                   position: absolute;
                   transition: all .2s ease-in-out 0s
               }
               
               .login-space .group label .icon:before {
                   left: 3px;
                   width: 5px;
                   bottom: 6px;
                   transform: scale(0) rotate(0)
               }
               
               .login-space .group label .icon:after {
                   top: 6px;
                   right: 0;
                   transform: scale(0) rotate(0)
               }
               
               .login-space .group .check:checked+label {
                   color: #fff
               }
               
               .login-space .group .check:checked+label .icon {
                   background: #1161ee
               }
               
               .login-space .group .check:checked+label .icon:before {
                   transform: scale(1) rotate(45deg)
               }
               
               .login-space .group .check:checked+label .icon:after {
                   transform: scale(1) rotate(-45deg)
               }
               
               .login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
                   transform: rotate(0)
               }
               
               .login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
                   transform: rotate(0)
               }
               
               *,
                :after,
                :before {
                   box-sizing: border-box
               }
               
               .clearfix:after,
               .clearfix:before {
                   content: '';
                   display: table
               }
               
               .clearfix:after {
                   clear: both;
                   display: block
               }
               
               a {
                   color: inherit;
                   text-decoration: none
               }
               
               .hr {
                   height: 2px;
                   margin: 20px 0 20px 0;
                   background: rgba(255, 255, 255, .2)
               }
               
               .foot {
                   text-align: center
               }
               
               .card {
                   width: 500px;
                   left: 100px
               }
               
                ::placeholder {
                   color: #505050
               }
               
               .card {
                   margin-left: 65px;
               }