<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <div *ngFor="let p of connexionnew">
                <p class="entete">
                    {{ p.nom }}
                    <a (click)="goToPage('connexion')">
                        <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                    </a>
                </p>
            </div><br>
        </div>
    </div>
    <div class="container  topBotomBordersIn">
        <a routerLink="/homeadmin">ACCEUIL</a>
        <a routerLink="/formationadmin">FORMATIONS</a>
        <a routerLink="/formateurcandidatadmin">FORMATEURS/CANDIDATS</a>
        <a routerLink="/certificatadmin">CERTIFICATIONS</a>
        <a routerLink="/statadmin">VUE D'ENSEMBLE</a>
    </div>
    <br>
    <div>
        <button (click)="createformation()" class="iconadd" mat-mini-fab color="primary" aria-label="Example icon button with a add icon">
      <mat-icon >add</mat-icon>
    </button>

    </div>
    <mat-form-field class="px-16" style="width: 30%">
        <input matInput #filter placeholder="Search..." [(ngModel)]="data" id="listSearch" autocomplete="off" style="width: 100%">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <!-- card 2-->
    <section class="page-contain">
        <div class="data-card" *ngFor=" let p of formation | filter: data">
            <h5 style="color: rgb(131, 170, 255);text-align: center; text-transform: uppercase;margin-top:7px">{{p.nom}}<br><span style="color: rgb(180, 180, 180);  font-size: 12px; ">({{p.nombreheursformation}} H) </span></h5>
            <br>
            <p style="color: rgb(131, 170, 255);font-size: 12px;">Nom de formateur: <br> <span style="color: rgb(255, 255, 255); font-size: 18px; text-align: center; text-transform: uppercase;">{{p.formateur.nom}} {{p.formateur.prenom}}</span></p>
            <p style="color: rgb(131, 170, 255); font-size: 12px; ">Objectif : <br> <span style="color: rgb(255, 255, 255); font-size: 10px; ">{{p.objectif}}</span></p>

            <p style="color: rgb(131, 170, 255); font-size: 12px; ">Bloc de compétence : <br> <span style="color: rgb(255, 255, 255); font-size: 10px; ">{{p.bloc}}</span></p>

            <div>
                <button (click)="deleteformation(p)" class="btnespace" mat-mini-fab color="warn" aria-label="Example icon button with a remove icon">
                    <mat-icon >delete </mat-icon>
                </button>
                <button (click)="modifierformation(p)" mat-mini-fab color="primary" aria-label="Example icon button with a mode edit list icon">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </div>

        </div>
    </section>