<div class="row">
    <div class="col-sm-4">
        <div class="imglogo">
            <img src="/assets/esicertif3.png" width="90">
        </div>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4" *ngFor="let p of connexionnew">
        <p>{{ p.nom }} {{ p.prenom }}
            <a (click)="goToPage('acceuil')">
                <mat-icon class="icon">power_settings_new</mat-icon>
            </a>
        </p>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="mb-3">
            <nav class="foxnav">
                <ul>
                    <li>
                        <a routerLink="/homeadmin">
                            <mat-icon>home</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/formationadmin">
                            <mat-icon>description</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/formateurcandidatadmin">
                            <mat-icon class="active">person</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/certificatadmin">
                            <mat-icon>school</mat-icon>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>