<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="/assets/logo1.png" width="150">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
            <div *ngFor="let p of connexionnew">
                <p class="entete">
                    {{ p.nom }}
                    <a (click)="goToPage('acceuil')">
                        <mat-icon class="iconentete" style="color: red;">power_settings_new</mat-icon>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="container  topBotomBordersIn">
        <a routerLink="/homeadmin">ACCEUIL</a>
        <a routerLink="/formationadmin">FORMATIONS</a>
        <a routerLink="/formateurcandidatadmin">FORMATEURS/CANDIDATS</a>
        <a routerLink="/certificatadmin">CERTIFICATIONS</a>
        <a routerLink="/statadmin">VUE D'ENSEMBLE</a>
    </div>
    <br> <br>
</div>

<!--<div class="container">
    <div class="card" *ngFor=" let p of candidatcertifie">
        <div class="card-header">
            <img src="https://www.ufhb-dptanglais.com/storage/actualites/216-91749309-chapeau-de-graduation-avec-certificat-isole-sur-fond-blanc.jpg" alt="rover" />
        </div>
        <div class="card-body">

            <h4>
                {{p.nom}}
            </h4>

            <div class="user">
                <div class="user-info">
                    <h5>{{p.candidat.nom}} {{p.candidat.prenom}}</h5>
                    <small>                <mat-icon (click)="opendialog(p)" class="btn ">downloading</mat-icon>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="cards-list" *ngFor=" let p of candidatcertifie">

    <div class="card 1">
        <div class="card_image"><br><br><br>
            <div class="card_title title-black">
                <p> <span style="color: grey;font-size: 12px;">NOM E FORMATION :</span>
                    <strong style="color: rgb(71, 0, 99);text-transform:uppercase;font-size: 12px;">{{p.nom}}</strong></p>
            </div>
            <img src="https://media.istockphoto.com/photos/mortar-and-degree-picture-id891698738?k=6&m=891698738&s=170667a&w=0&h=bE4tB5CcOILs9hssIs5PnGqk9rEYOhNGrg1HndTt6GI=" /> </div>
        <div class="card_title title-white">
            <p style="text-transform: uppercase; color: rgb(188, 116, 255);font-size: 16px;"> {{p.candidat.nom}} {{p.candidat.prenom}}<br><br>
                <mat-icon (click)="opendialog(p)" class="btn ">downloading</mat-icon>
            </p>
        </div>
    </div>



</div>