<div class="container">
    <div class="toolbar" role="banner">
        <img width="135" alt="ESIC Logo " src="assets\logo.png" />
        <div class="spacer"></div>

        <div class=" space "></div>
        <button type="button" routerLink="/register" class="arrondie btn btn-success">Creer un compte!</button>
        <div class="space "></div>

    </div>
    <div class="content " role="main ">
        <div class="row">
            <div class="zoom colonne">
                <div>
                    <div class="col-sm-5 img1">
                        <img width="250" alt="admin" src="assets\admin.jpg" />
                    </div>
                </div>
                <div>
                    <div class="margin50">
                        <button type="button" routerLink="/connexion" class="arrondie btn btn-success ">se
                            connecter</button>
                    </div>
                    <div class="col-sm-4 img2">
                        <img width="270 " alt="candidat " src="assets\candiadt.jpg" />

                    </div>

                </div>
                <div>
                    <div class="col-sm-3 img3 ">
                        <img width="150" alt="formateur " src="assets\formateur.jpg" />
                    </div>


                </div>
                <div class="footer">
                    <p>36 Avenue Pierre Brossolette 92240 Malakoff
                    </p>
                </div>