<!-- page d'acceuil 
c 'est la 1 ere page de notre application '-->
<div class="container">
    <div class="toolbar" role="banner">
        <div class="spacer"></div>
        <div class=" space "></div>
        <div class="flex-1">

        </div>
        <div class="space "></div>
    </div>
    <div class="content " role="main ">
        <div class="row">
            <div class="margin50">
                <button type="button" routerLink="/connexion" class="arrondie btn btn-success">se connecter</button>
            </div>
        </div>
    </div>
</div>
<div class="main-contain"></div>