<div class="container mt-3">
    <div class="modalcreateformation">
        <form #formation="ngForm" (ngSubmit)="createformation(formation.value)">
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Intitulé de la formation</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="nom">
                        <mat-option *ngFor="let g of formationgoogle.results" [value]="g.Formation">
                            {{g.Formation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="form-group">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre des heures</mat-label>
                    <mat-select name="nombreheursformation" ngModel="">
                        <dl *ngFor="let g of formationgoogle.results">
                            <mat-option *ngIf="selectedValue == g.Formation" [value]="g.Duree">
                                {{g.Duree}}
                            </mat-option>
                        </dl>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Objectif </mat-label>
                    <mat-select name="objectif" ngModel="">
                        <dl *ngFor="let g of formationgoogle.results">
                            <mat-option *ngIf="selectedValue == g.Formation" [value]="g.Objectifs">
                                {{g.Objectifs}}
                            </mat-option>
                        </dl>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Bloc de Compétence </mat-label>
                    <mat-select name="bloc" ngModel="">
                        <dl *ngFor="let g of formationgoogle.results">
                            <mat-option *ngIf="selectedValue == g.Formation" [value]="g.Bloc">
                                {{g.Bloc}}
                            </mat-option>
                        </dl>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Choisissez le formateur</mat-label>
                    <mat-select ngModel="" name="formateur" required>
                        <mat-option *ngFor="let f of formateurs" [value]="f">
                            {{f.nom}} {{f.prenom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Choisissez le(s) candidat</mat-label>
                    <mat-select ngModel="" name="candidat" required>
                        <mat-option *ngFor="let c of candidats" [value]="c">
                            {{c.nom}} {{c.prenom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>

            <button type="submit" mat-stroked-button color="accent" class="center">Valider</button>
        </form>
    </div>
</div>